@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #0d1117;
}

#spotlight {
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 30;
  transition: opacity 0.3s;
}